Perguntas:
- Quantos gêneros o filme "The Matrix" tem? Quais são os gêneros?
- Quantos gêneros cada filme tem, em média?
- Quais são os cinco filmes com maior número de gêneros?
- Quantos usuários deram nota para o filme "The Matrix"?
- Quantos usuários, em média, deram nota para cada filme?
- Quais são os cinco filmes para os quais mais usuários deram nota?
- Qual o rating médio do filme "The Matrix"?
- Cada filme tem um rating médio. Qual a média desses ratings, por gênero?
- Para cada gênero de filme, quantos usuários deram cada nota possível?

Dicas:
1. Só é necessário as tabelas movies e ratings para este projeto.
2. Pesquise a função "explode" no pandas. Ela pode ser útil.

## Importação das Bibliotecas

In [2]:
import pandas as pd
import numpy as np

## Extração dos Dados

In [27]:
def read_data_csv(filename=str, separator=str, data_types=None):
    
    df = pd.read_csv(filename, sep=separator, decimal='.', dtype=data_types)
    
    return df

In [142]:
path_dir = 'dados/movie_lens'

df_links = read_data_csv(f'{path_dir}/links.csv', ',',  {'tmdbId': str})
df_movies = read_data_csv(f'{path_dir}/movies.csv', ',')
df_ratings = read_data_csv(f'{path_dir}/ratings.csv', ',')
df_tags = read_data_csv(f'{path_dir}/tags.csv', ',')

In [143]:
df_movies["ano"] = df_movies["title"].apply(lambda st: st[st.find("(")+1:st.find(")")])
df_movies["title"] = df_movies["title"].str.replace(r" \(.*\)","")
df_movies['genres_count'] = df_movies['genres'].str.split('|').str.len()

C:\Users\Amanda\AppData\Local\Temp\ipykernel_6012\1538183293.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df_movies["title"] = df_movies["title"].str.replace(r" \(.*\)","")

In [144]:
id_title=df_movies[['movieId','title']]
movies_ratings = pd.merge(df_ratings, id_title, how = 'left', on = 'movieId')

       userId  movieId  rating   timestamp        title
166         1     2571     5.0   964981888  Matrix, The
442         4     2571     1.0   945173385  Matrix, The
1130       10     2571     0.5  1455356378  Matrix, The
1367       13     2571     5.0   987457007  Matrix, The
1475       15     2571     4.0  1510571744  Matrix, The
...       ...      ...     ...         ...          ...
96689     603     2571     5.0   963177606  Matrix, The
97791     606     2571     5.0  1171325929  Matrix, The
98603     607     2571     5.0   963080047  Matrix, The
99065     608     2571     5.0  1117162423  Matrix, The
99684     610     2571     5.0  1479545822  Matrix, The

[278 rows x 5 columns]

In [84]:
df_ratings

        userId  movieId  rating   timestamp
0            1        1     4.0   964982703
1            1        3     4.0   964981247
2            1        6     4.0   964982224
3            1       47     5.0   964983815
4            1       50     5.0   964982931
...        ...      ...     ...         ...
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

[100836 rows x 4 columns]

## Exploração dos Dados

### Quantos gêneros o filme "The Matrix" tem? Quais são os gêneros?

In [127]:
df_aux = df_movies.copy()
df_aux["title"] = df_movies['title'].str.replace('[^A-Za-z0-9]+','')
df_aux["title"] = df_aux["title"].str.lower()
df_aux

C:\Users\Amanda\AppData\Local\Temp\ipykernel_6012\1464765748.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df_aux["title"] = df_movies['title'].str.replace('[^A-Za-z0-9]+','')

,movieId,title,genres,ano,genres_count
0,1,toystory,Adventure|Animation|Children|Comedy|Fantasy,1995,5
1,2,jumanji,Adventure|Children|Fantasy,1995,3
2,3,grumpieroldmen,Comedy|Romance,1995,2
3,4,waitingtoexhale,Comedy|Drama|Romance,1995,3
4,5,fatherofthebridepartii,Comedy,1995,1
...,...,...,...,...,...
9737,193581,blackbutlerbookoftheatlantic,Action|Animation|Comedy|Fantasy,2017,4
9738,193583,nogamenolifezero,Animation|Comedy|Fantasy,2017,3
9739,193585,flint,Drama,2017,1
9740,193587,bungostraydogsdeadapple,Action|Animation,2018,2
9741,193609,andrewdiceclaydicerules,Comedy,1991,1

In [136]:
matrix_id = df_aux[(df_aux["title"]== ("matrixthe"))]
matrix_id = matrix_id.iloc[0]['movieId']
matrix_id

2571

### Quantos gêneros cada filme tem, em média?

In [147]:
genres_mean = df_movies["genres_count"].mean()
genres_mean

2.2668856497639087

### Quais são os cinco filmes com maior número de gêneros?

In [79]:
genres_highest = df_movies.nlargest(5, "genres_count")
genres_highest = genres_highest["title"].tolist()
genres_highest

['Rubber',
 'Patlabor: The Movie',
 'Mulan',
 'Who Framed Roger Rabbit?',
 'Osmosis Jones']

### Quantos usuários deram nota para o filme "The Matrix"?

In [156]:
ratings_matrix_count = movies_ratings[(movies_ratings["movieId"] == matrix_id)]
ratings_matrix_count.count()["rating"]

278

### Quantos usuários, em média, deram nota para cada filme?

### Quais são os cinco filmes para os quais mais usuários deram nota?

### Qual o rating médio do filme "The Matrix"?

### Cada filme tem um rating médio. Qual a média desses ratings, por gênero?

### Para cada gênero de filme, quantos usuários deram cada nota possível?